[submodule "client"]
	path = client
	url = https://github.com/gderecho/client-irsjpy
[submodule "server"]
	path = server
	url = https://github.com/gderecho/server-irsjpy
[submodule "location"]
	path = location
	url = https://github.com/gderecho/location-irsjpy.git
